.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center; /* Center the content horizontally */
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items inside the footer horizontally */
  }
  
  .footer-item {
    width: 30%;
    padding: 10px;
  }
  
  .footer-item h3 {
    margin-bottom: 40px;
    font-size: 25px;
  }
  
  .footer-col ul {
    list-style: none;
    padding: 0;
    display: flex; /* Add a flexbox to the footer-col class */
    flex-direction: column; /* Align the list items vertically */
    align-items: center; /* Center the list items horizontally */
  }
  
  .footer-col li {
    margin-bottom: 0px;
  }
  
  .footer-col a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
  }
  
  .footer-col a:hover {
    text-decoration: underline;
  }
  
  .footer-col button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 2px; /* Add some margin to the buttons */
  }
  
  .footer-col button svg {
    fill: #fff;
  }
  
  .footer-col button:hover svg {
    fill: #ff0000;
  }
  