*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16pt;
}

html {
  min-width: 100%;
  min-height: 200%;
}

.banner{
  width: 100%;
  height: 200vh;
  background-image: 
  linear-gradient(rgba(232, 232, 232, 0.75),rgba(168, 0, 0, 0.75));
}

.submenus{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 25%;
  height: 25%;
  cursor: pointer;
}

.submenus ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.submenus ul li a{
  text-decoration: none;
  color:rgba(165, 0, 0, 0.75);
  text-transform: uppercase;
}

.submenus ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.submenus ul li:hover::after{
  width: 100%;
}

input.search-bar{
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 18px;
  background:rgba(149, 149, 149, 0.75);
  color: white;
  font-family: inherit;
  font-size: 16px;
}

.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin-top: 450px;
}

.content h1{
  font-size: 55px;
  margin-top: 80px;
  color: crimson;
}

.content p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 30px;
  color: rgba(153, 0, 0, 0.75);
}

.content h2{
  font-size: 35px;
  color: crimson;
}

button{
  margin: 0.5em;
  border-radius: 50%;
  height: 1.25em;
  width: 1.25em;
}
/*
.test_button{
  width:200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #a42e00;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span{
  background: #a42e00;
  height: 50%;
  width: 50%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span{
  width: 100%;
}

button:hover{
  border: none;
}*/

.img-container h2{
  font-size: 18px;
  
}

.slider-frame{
  overflow: hidden;
  height: 420px;
  width: 1200px;
  margin-left: 360px;
}

/*---Slide Animation---*/

@-webkit-keyframes slide_animation{
  0% {left: 0px;}
  10% {left: 0px;}
  20% {left: 1200px;}
  30% {left: 1200px;}
  40% {left: 2400px;}
  50% {left: 2400;}
  60% {left: 1200px;}
  70% {left: 1200px;}
  80% {left: 0px;}
  90% {left: 0px;}
  100% {left: 0px;}
}

.slide-images{
  width: 3600px;
  height: 420px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 33s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

.img-container{
  height: 800px;
  width: 1200px;
  position: relative;
  float: left;
}

/*---End of Slide Animation---*/

.footer{
  width: 100vw;
  height: 180px;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
}

.footer-content{
  width: 80vw;
  display: flex;
  justify-content: space-around;
}

.footer-item h3{
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: whitesmoke;
  margin-top: 12px;
  position: relative;
  letter-spacing: 8px;
}

.footer-item h3::after{
  content: '';
  height: 0.5px;
  width: 80%;
  background: #ffffff;
  position: absolute;
  left: 5%;
  bottom: 10px;
}

.footer-col ul li{
  margin: 12px 0;
  list-style: none;
  position: relative;
  font-size: 10px;
  color:floralwhite;
}

.footer-col ul li a{
  font-size: 10px;
  color:floralwhite;
  text-decoration: none;
  letter-spacing: 2px;
}

.footer-col ul li a:hover{
  font-size: 12px;
  color:crimson;
  text-decoration: none;
  letter-spacing: 4px;
  transition: 0.4s;
}

.footer-col ul li a{
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
/* 
@-webkit-keyframes circle{
  0% {size: 0%;}
  100% {size: 200%;}
} */

.footer-col button:hover{
  background-color: rgb(174, 0, 174);
  transition: 0.3s;
}

.footer-col button{
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}